
if environment == 'development'
  link(rel="stylesheet", href="/css/app.css", type="text/css")
  link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css", type="text/css")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,300,700", type="text/css")
else
  link(rel="stylesheet", href="/css/app.min.css", type="text/css")