
form {
  // Genral input
  input, select, textarea {
    padding: .5em 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 20em;

    outline: 0;
    border: 0;
    box-shadow: 0;

    border-bottom: 1px solid #757575;
    margin-bottom: 1px;
    &:focus {
      //border-bottom: 2px solid #5264AE;
      //margin-bottom: 0;
    }

    & + .focus {
      background: #5264AE;
      height: 2px;
      width: 0;
      position: absolute;
      bottom: .4em;
      left: 11.3em;
      transition: all ease 0.2s;
    }
    &:focus + .focus {
      width: 20em;
    }
  }

  // input radio & input checkbox
  input[type=radio], input[type=checkbox] {
    padding: 0;
    -webkit-appearance: none;
    width: 10em;
    border: 0;
    position: absolute;
    height: 1em;
    margin-top: 1em;
    z-index: 1;
    top: 0;
    cursor: pointer;
    & + .label {
      cursor: pointer;
      margin-right: 1.2em;
      vertical-align: middle;
      position: relative;
      &::before, &::after {
        content: ' ';
        background: rgba(0,0,0,0);
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 1em -.2em 0;
        -webkit-border-radius: 50%;
        cursor: pointer;
        border: 2px solid #757575;
      }
    }

    & + .label::after { 
      content: '';
      width: 3em;
      height: 3em;
      -webkit-transform: scale(0);
      -webkit-border-radius: 50%;
      background: #5264AE;
      position: absolute;
      left: -.82em;
      top: -.82em;
      border: none;
      transition: all ease 0.1s;
      opacity: 0;
      z-index: -1;
    }
    &:active + .label::after {
      opacity: .25;
      -webkit-transform: scale(1.2);
    }

    &:checked + .label::before {
      background: #5264AE;
      border: 2px solid #5264AE;
    }
  }

  input[type=checkbox] {
    & + .label::before { 
      -webkit-border-radius: 0;
    }
    &:checked + .label::before {
      content: '';
      line-height: 15px;
      color: #5264AE;
      background: #5264AE;
      border: 2px solid #5264AE;
    }
  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background: none;

    &.unselected {
      color: rgb(169, 169, 169);
    }
  }

  textarea {
    padding: .5em .5em .5em 0;
    margin-top: .5em;
    max-width: 20em;
  }
  
  textarea + .focus { bottom: 0; }

  fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
  }

  .control-group {
    margin-bottom: .5em;
    position: relative;
    label {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      width: 10em;
      margin: 0 1em 0 0;
      padding: .7em 0;
    }
  }
}