
form {
  // Genral input
  input, select, textarea {
    padding: .5em 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    outline: 0;
    border: 0;
    box-shadow: 0;

    border-bottom: 1px solid #757575;
    margin-bottom: 1px;
    &:focus {
      border-bottom: 2px solid #5264AE;
      margin-bottom: 0;
    }
  }

  // input radio & input checkbox
  input[type=radio], input[type=checkbox] {
    padding: 0;
    -webkit-appearance: none;
    width: 10em;
    border: 0;
    position: absolute;
    height: 1em;
    margin-top: 1em;
    z-index: 1;
    top: 0;
    cursor: pointer;
    & + .label {
      cursor: pointer;
      margin-right: 1em;
      vertical-align: middle;
      &::before {
        content: ' ';
        background: #fff;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 .5em -.2em 0;
        -webkit-border-radius: 50%;
        cursor: pointer;
        border: 2px solid #757575;
      }
    }
    &:checked + .label::before {
      background: #0f9d58;
      border: 2px solid #0f9d58;
    }
  }

  input[type=checkbox] {
    & + .label::before { 
      -webkit-border-radius: 0;
    }
    &:checked + .label::before {
      content: '✔';
      line-height: 15px;
      color: #0f9d58;
      background: none;
      border: 2px solid #0f9d58;
    }
  }

  fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0;
  }

  .control-group {
    margin-bottom: .5em;
    position: relative;
    label {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      width: 10em;
      margin: 0 1em 0 0;
      padding: .7em 0;
    }
  }
}