
/*
 * Custom grid inspired by Bootstrap.
 */
.row {

  $gridColumns: 10;

  $screen-small-min: "320px";
  $screen-medium-min: "480px";
  $screen-large-min: "920px";

  $screen-small-mq: "(min-width: #{$screen-small-min}) and (max-width : #{$screen-medium-min})";
  $screen-medium-mq: "(min-width: #{$screen-medium-min}) and (max-width : #{$screen-large-min})";
  $screen-large-mq: "(min-width: #{$screen-large-min})";


  position: relative;
  width: 100%;

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  } 

  &:after { clear: both }

  & > [class^="span"] {
    display: block;
    box-sizing: border-box;
    float: left;
  }
  
  [class^="span"]:nth-last-child(1) {
    padding-right: 0;
  }

  // Default: 100%, mobile first
  @for $i from 1 through $gridColumns {
    .span#{$i} { width: 100%; }
  }
  @for $i from 1 through $gridColumns {
    .offset#{$i} { margin-left: 0; }
  }
  
  .offset0 { margin-left: 0; } // Special case for 0

  /*
   * Starting medium, span are sized.
   */
  @media (min-width: #{$screen-medium-min}) {
    // Create spanX classes
    @for $i from 1 through $gridColumns {
      .span#{$i} {
        width: percentage(1/$i);
      }
    }

    // Create offsetX classes
    @for $i from 1 through $gridColumns {
      .offset#{$i} {
        margin-left: percentage($i * 1/$gridColumns);
      }
    }
  }

  /*
   * Special classes for medium : md-spanX md-offsetX 
   */
  @media #{$screen-medium-mq} {
    // Create spanX classes
    @for $i from 1 through $gridColumns {
      .md-span#{$i} {
        width: percentage(1/$i);
      }
    }

    // Create offsetX classes
    @for $i from 1 through $gridColumns {
      .md-offset#{$i} {
        margin-left: percentage($i * 1/$gridColumns);
      }
    }
    .md-offset0 { margin-left: 0; } // Special case for 0
  }


  // Image in row are contained in the grid
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &.animate > [class^="span"] {
    transition: all 0.3s ease;
  }
}