
/*
 * Custom grid inspired by Bootstrap.
 */
.row {

  $gridColumns: 12;

  position: relative;
  width: 100%;

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  } 

  &:after { clear: both }

  & > [class^="span"] {
    display: block;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
  }

  // Default: 100%, mobile first
  @for $i from 1 through $gridColumns {
    .span#{$i} { width: 100%; }
  }
  @for $i from 1 through $gridColumns {
    .offset#{$i} { margin-left: 0; }
  }
  
  .offset0 { margin-left: 0; } // Special case for 0

  /*
   * Starting medium, span are sized.
   */
  @media (min-width: #{$screen-medium-min}) {
    // Create spanX classes
    @for $i from 1 through $gridColumns {
      .span#{$i} {
        width: percentage(1/$i);
      }
    }

    // Create offsetX classes
    @for $i from 1 through $gridColumns {
      .offset#{$i} {
        margin-left: percentage($i * 1/$gridColumns);
      }
    }
  }

  /*
   * Special classes for medium : md-spanX md-offsetX 
   */
  @media #{$breakpoint-md} {
    // Create spanX classes
    @for $i from 1 through $gridColumns {
      .md-span#{$i} {
        width: percentage(1/$i);
      }
    }

    // Create offsetX classes
    @for $i from 1 through $gridColumns {
      .md-offset#{$i} {
        margin-left: percentage($i * 1/$gridColumns);
      }
    }
    .md-offset0 { margin-left: 0; } // Special case for 0
  }
  
}