

/* ----------------------------------------
 * Headings
 * ------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  margin:  $heading-margin;
}

/*
  Create a type scale for headers h1 to h6
  Sample options:
    - Minor Second (1.067)
    - Major Second (1.125)
    - Minor Third (1.200)
    - Major Third (1.250)
    - Agumented Fourth (1.414) -- Default
    - Perfect Fifth (1.500)
    - Golden Ratio (1.618)
 */
@include set-type-scale(1.414);

/* ----------------------------------------
 * List
 * ------------------------------------------------------------------- */
ul.reset, ol.reset {
  list-style: none;
  padding-left: 0;
}


/* ----------------------------------------
 * Quote
 * ------------------------------------------------------------------- */
blockquote {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 0;
  padding-left: $space-2;
  padding-right: $space-2;

  font-style: italic;
}


/* ----------------------------------------
 * Images
 * ------------------------------------------------------------------- */
img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}