

/* ----------------------------------------
 * Headings
 * ------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  margin:  $heading-margin;
}

// http://type-scale.com/

h1, .h1 { font-size: 2.25em; }
h2, .h2 { font-size: 2em; }
h3, .h3 { font-size: 1.75em; }
h4, .h4 { font-size: 1.5em; }
h5, .h5 { font-size: 1.25em; }
h6, .h6 { font-size: 1em; }

/* ----------------------------------------
 * List
 * ------------------------------------------------------------------- */
ul.reset, ol.reset {
  list-style: none;
  padding-left: 0;
}


/* ----------------------------------------
 * Quote
 * ------------------------------------------------------------------- */
blockquote {
  margin-top: $space-3;
  margin-bottom: $space-3;
  margin-left: 0;
  padding-left: $space-2;
  padding-right: $space-2;

  font-style: italic;
}


/* ----------------------------------------
 * Images
 * ------------------------------------------------------------------- */
img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}