if !xhrPartial
  doctype html
  html(lang="en")
    head
      block meta
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')

      block head
        title= (typeof(title) == 'undefined' ? "App" : title)

      link(rel="stylesheet", href="/css/app.css", type="text/css")
      link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css", type="text/css")

      block css
      
      link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,300,700", type="text/css")

      //- Scripts stuffs
      include ./scripts
      block scripts
        
    body
      block header
        include header 

      div.content
        block content

      block footer
        include footer
else
  //- Partial content requested by XHR
  block content