if !xhrPartial
  doctype html
  html(lang="en")
    head
      block meta
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')

      block head
        title= (typeof(title) == 'undefined' ? "App" : title)

      //- Stylesheets
      include ./include/stylesheets
      block css
      
      //- Scripts stuffs
      include ./include/scripts
      block scripts
        
    body
      block header
        include header 

      div.content
        block content

      block footer
        include footer
else
  //- Partial content requested by XHR
  block content