doctype html
html(lang="en")
  head
    block meta
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    block head
      title= (typeof(title) == 'undefined' ? "App" : title)

    block css
      link(rel="stylesheet", href="/css/app.css", type="text/css")
        
    //- If dev env, add script to autoreload page when scss change
    if environment == 'development'
      script(src="//localhost:35729/livereload.js")

    block scripts
      
    body
      block header
        include header 

      div.wrapper
        div.viewport
          div.content
            block content
        
        div.push

      block footer
        include footer