
- var year = moment().format('YYYY');

div.footer
  p
    | Copyright &copy; #{year}

  if environment != 'production'
    p(style="position:absolute; right:5px; bottom: 5px;")
      | #{environment}
