div.header(data-threshold-small=145)
  div.wrapper
    h1.title #{title}
    h2.subtitle [Full Stack App Template]

script.
  $(function() {
    var $header = $('.header');
    var threhold = $header.data('threshold-small') || 1;
    $(document).scroll(function() {
      var top = $(document).scrollTop();
      if (top >= threhold) $header.addClass('small');
      else $header.removeClass('small');
    });
  });