/* -----------------------------
 * Buttons
 * ----------------------------------------------------- */
button {
  outline: 0;
  width: 8em;
  text-transform: uppercase;
  color: #fff;
  background: $focus-color;
  border: 0;
  height: 3em;
  position: relative;
  overflow: hidden;

  .label {
    position: relative;
    z-index: 5;
  }
  .focus {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: #ccc;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    border-radius: 50%;
    transition: all ease 0.1s;
    opacity: 0;
    z-index: 0;
  }

  &:hover .focus {
    opacity: .25;
    width: 80%;
    height: 200%;
  }

  &:active .focus {
    width: 100%;
    height: 200%;
    border-radius: 0%;
  }
  
}