/* -----------------------------
 * Buttons
 * ----------------------------------------------------- */
button {
  outline: 0;
  width: 8em;
  text-transform: uppercase;
  color: #fff;
  background: #4e6cef;
  border: 0;
  height: 3em;
  position: relative;
  overflow: hidden;

  .focus {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    @include vendor-prefix(transform, translateX(-50%) translateY(-50%));
    position: absolute;
    opacity: 0;
    @include vendor-prefix(border-radius, 50%);
    transition: all ease 0.1s;
    opacity: 0;
  }

  &:hover {
    text-shadow: 0px 0px 1px #222;
  }

  &:hover .focus {
    opacity: .25;
    width: 80%;
    height: 200%;
  }

  &:active .focus {
    width: 100%;
    height: 200%;
    -webkit-border-radius: 0%;
  }
  
}