
.demo {
  .grid {
    border: 1px solid #ddd;
    padding: 10px 0 10px 20px;
    margin: 2em 0;
  }
  .column {
    background: #eee;
    margin: 1em 0;
    border: 1px solid #ccc;
    text-align: center;
  }
}

