extends ../layout/base

block scripts
  script(src="/vendor/physicsjs/dist/physicsjs-full-0.6.0.min.js")
  script(src="/js/breaker.js")

block content
  p
    | Error 500.
  //- http://mrdoob.com/projects/chromeexperiments/google-gravity/
  pre #{error}

  script.
    $(document).ready(function() {
      window.breaker();
    })
    