extends ../../layout/base

block content
  div.demo 
    h1 Form demo

    form(action='/', method='post')
      input(type='hidden', name='_csrf', value='#{csrftoken}')
      div.control
        label(for='first_name') First Name
        input(type='text', name='first_name', value='', placeholder='Enter First Name')
        span.focus
      div.control
        label(for='last_name') Last name:
        input(type='text', name='last_name', value='', placeholder='Enter Last Name')
        span.focus
      div.control
        label(for='email') Email:
        input(type='email', name='email', value='', placeholder='Enter Email', validate, required)
        span.focus
      div.control
        label Gender:
        span.check
          input(type='radio', name='gender', value='men')
          span.label Men
        span.check
          input(type='radio', name='gender', value='women')
          span.label Women
      div.control
        label Gender:
        span.check
          input(type='checkbox', name='gender', value='men')
          span.label Men
        span.check
          input(type='checkbox', name='gender', value='women')
          span.label Women
      div.control
        label(for='city') City:
        select.unselected(name='city', onchange="this.className = this.className.replace(/unselected/,'');")
          option(value='', disabled, selected) Choose
          option(value='sydney') Sydney
          option(value='melbourne') Melbourne
          option(value='cromwell') Cromwell
          option(value='queenstown') Queenstown
        span.focus
      div.control
        label(for='comments') Comments:
        textarea(rows='3', cols='20', name='comments')
        span.focus
      div.control
        button(type='submit')
          span.label Submit
          span.focus
