extends ../../layout/base

block content
  div.demo
    h1 Grid System
    
    - for (var i = 1; i <= 10; i++)
      .row
        - for (var j = 1; j <= i; j++)
          div(class='span' + i)
            div.column= i

    div.row
      div.span3.offset2
        div.column
          | A span3 div with offset2

    div.row
      div.span3.offset2.md-span1.md-offset0
        div.column
          | SM/MD: 100%, LG: span3

