extends ../../layout/base

block content
  div.demo 
    h1 H1. Title heading 1
    h2 H2. Title heading 2
    h3 H3. Title heading 3
    h4 H4. Title heading 4
    h5 H5. Title heading 5
    h6 H6. Title heading 6
    hr
    pre
      span.nt &lt;h1&gt;
      | H1. Title heading 1
      span.nt &lt;/h1&gt;
    hr
    p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inde igitur, inquit, ordiendum est. Duo Reges: constructio interrete. Sed haec in pueris;
    p.text-justify Occultum facinus esse potuerit, gaudebit; Age, inquies, ista parva sunt. Summae mihi videtur inscitiae. Estne, quaeso, inquam, sitienti in bibendo voluptas? Ita prorsus, inquam; Non risu potius quam oratione eiciendum?
    p.text-justify Tria genera bonorum; Illa tamen simplicia, vestra versuta. Deprehensus omnem poenam contemnet. Quod quidem nobis non saepe contingit. Paria sunt igitur.
    hr
    p.lead.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inde igitur, inquit, ordiendum est. Duo Reges: constructio interrete. Sed haec in pueris;
    