/* html, body base */
html, body {
  padding: 0;
  margin: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;

  background-color: #fff;
  font: $body-font-style $body-font-variant $body-font-weight #{$body-font-size}/#{$body-line-height} $body-font-family;
  color: $body-color;
}

//http://www.fontsquirrel.com/fonts/caviar-dreams


/* <===== Start sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 150px; /* bottom = footer height  + space */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
/* ====> End sticky footer */


.content {
  //padding-top: $header-height;
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
}


