
/*
 * Layout variables
 */
$header-height: 200px;
$footer-height: 75px;

/*
 * html, body base
 */
html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
 * Sticky footer stuff 
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 $footer-height+50px; /* bottom = footer height + space */
}

/*
 * Content
 */
.content {
  width: 90%;
  margin: 0 auto;
  max-width: 840px;;
}


