
.footer {
  background-color: #b0bec5;
  text-align: center;
  position: relative;
  
  background: #f0f0f0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15) inset;

  margin-top: 60px;

  color: #999;
  
  p { margin: 0 ;}

  p.love {
    

    i {
      animation: heartbeat 1s infinite;
    }
  }
}

@keyframes heartbeat {
  0%   { transform: scale(1.2) }
  100% { transform: scale(.8) }
}