
/*
 * Variables
 */
$footer-background-color: #f3f3f3;

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  
  text-align: center;

  background-color: $footer-background-color;
  background: linear-gradient(to bottom, #ffffff 0%, $footer-background-color 25%);

  padding-top: 25px;
  margin-top: 25px;

  color: #888;
  
  font-family: 'Lucida Grande';
  font-size: 13px;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;

  p { margin: 0 ;}

  p.copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3em;
  }
  p.love {
    margin-top: 7px;
  }

  &:hover {
    p.love i { 
      animation: heartbeat 1s infinite;
      color: #8A0707;
      text-shadow: 0px 0px 2px #7E0808;
      opacity: .6;
    }
  }
}

@keyframes heartbeat {
  0%   { transform: scale(1.2) }
  100% { transform: scale(.8) }
}