.header {
  text-align: center;
  min-height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: table;
  z-index: 100;
  
  border-bottom: 1px solid $color-gray-lighter;
  background-color: #5264ae;

  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
 

  .wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    font-size: 2em;
    color: #fff;
  }
}