
/* ----------------------------------------
 * Body
 * ------------------------------------------------------------------- */
body {
  width: 100%;
  background-color: #fff;
  font: $body-font-style $body-font-variant $body-font-weight #{$body-font-size}/#{$body-line-height} $body-font-family;
  color: $body-color;
}

/* ----------------------------------------
 * Paragraphs
 * ------------------------------------------------------------------- */
p {
  
  
  &.lead {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
  }
}



/* ----------------------------------------
 * Pre
 * ------------------------------------------------------------------- */
pre {
  font-family: $monospace-font-family;
  background: rgba(128, 128, 128, 0.15);
  padding: 5px 10px;
  .nt {
    color: #2f6f9f;
  }
}

/* ----------------------------------------
 * Horizontal line
 * ------------------------------------------------------------------- */
hr {
  border: 0;
  height: 1px;
  position: relative;

  background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
}

$color-gray: #555;
$color-gray-light: #999;
$color-gray-lighter: #eee;